<% div_for line, :class => 'borderedbox' do %>
	<%= voting_booth line %>
  <span class='left'>
		<%= link_to h(line.phrasing), line %>
		<%= link_to_remote pluralize(line.comments.count, 'comment'), :url => line_comments_path(line), :title => 'comments', :method => :get, :update => dom_id(line, 'replies'), :complete => visual_effect(:toggle_slide, dom_id(line, 'comments')), :html => {:id => dom_id(line, 'comment_count')} %>
		<%#= '[' + link_to(line.approaches.count, line_approaches_path(line), :title => 'number of times this line has been used') + ']' if line.approaches.present? %>
		<%= tag_display line %>
		<% if current_user.andand.admin? || (current_user && line.user == current_user) %>
		  [<%= link_to 'x', line_path(line), :method => :delete, :title => 'delete' %>]
		<% end %>
	</span>
  <span class='pick-up-artist'><%#=h line.user.andand.username %></span>
  <div class='clearfix'></div>
  <span class='right'><%=h line.context %></span>
  <span class='left'><%= publish_link line %></span>
  <span class='left', id='<%= dom_id(line, 'publicize') %>'><%= publicize_link line %></span>
	<%= tagger line %>
	<% div_for line, 'tags', :style => 'display:none;' do %>
	<% end %>
	<% div_for line, 'comments', :style => 'display:none;' do %>
		<% if current_user %>
			<% form_remote_for line.comments.new, :update => dom_id(line, 'replies'), :position => 'bottom', :loading => "$('#{dom_id(line, 'comment_text')}').clear(); $('#{dom_id(line, 'comment_count')}').innerHTML = $('#{dom_id(line, 'comment_count')}').innerHTML.gsub(/(\d+)/, function(match) {return match[1]*1 + 1});" do |f| %>
			  <%= f.text_area :text, :size => '35x4', :id => dom_id(line, 'comment_text') %>
			  <%= f.hidden_field :target_id, :value => line.id %>
			  <%= f.hidden_field :target_type, :value => 'Line' %>
			  <%= image_submit_tag 'weigh_in.png' %>
			<% end %>
		<% end %>
		<% div_for line, 'replies' do %>
		<% end %>
	<% end %>
<% end %>
<div class='clearfix'></div>
<script type='text/javascript'>
	new Draggable('line_' + <%= line.id %>, {revert: true, scroll: window});

  Droppables.add('line_' + <%= line.id %>, {
	  hoverclass: 'tagging',
		onDrop: function(dragged, dropped, event) {
			new Ajax.Request('/tags?tag[target_type]=Line&tag[target_id]=' + <%= line.id %> + '&tag[subject_type]=' + dragged.className.split(' ')[0].capitalize() + '&tag[subject_id]=' + dragged.id.split('_')[dragged.id.split('_').length - 1]);
			$('<%= dom_id(line, 'tag_count') %>').innerHTML = $('<%= dom_id(line, 'tag_count') %>').innerHTML.gsub(/(\d+)/, function(match) {return match[1]*1 + 1});
		}
	});
</script>