<% div_for line do %>
	<%= voting_booth line %>
  <span class='left'>
		<%= link_to h(line.phrasing), line %>
		[<%= link_to line.comments.count, line_comments_path(line), :title => 'comments on this line' %>]
		[<%= link_to line.approaches.count, line_approaches_path(line), :title => 'number of times this line has been used' %>]
		<%= link_to_remote 't', :url => new_tag_path(:tag => {:target_type => 'Line', :target_id => line.id}), :update => dom_id(line, 'taggable_lists') %>
		<% div_for line, 'taggable_lists' do %>
		<% end %>
		<%= add_to_list line %>
		<% if current_user.andand.admin? || (current_user && line.user == current_user) %>
		  [<%= link_to 'x', line_path(line), :method => :delete, :title => 'delete' %>]
		<% end %>
	</span>
  <span class='pick-up-artist'><%=h line.user.andand.username %></span>
  <div class='clearfix'></div>
  <span class='right'><%=h line.context %></span>
  <span class='left'><%= link_to_remote 'publish', :url => line_publications_path(line), :with => "'group_ids=' + $('publishable-groups').innerHTML", :update => 'publications', :position => 'top', :html => {:class => 'publication'} if current_user && (line.user == current_user || line.repost?) %></span>
  <span class='left', id='<%= dom_id(line, 'publicize') %>'><%= publicize_link line %></span>
<% end %>
<div class='clearfix'></div>