<h1>Editing line</h1>

<% form_for(@line) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phrasing %><br />
    <%= f.text_area :phrasing, :size => '49x3' %>
  </p>
  <p>
    <%= f.label :context %><br />
    <%= f.text_area :context, :size => '49x3' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @line %> |
<%= link_to 'Back', lines_path %>