<div id='line_sharing'>
	<% form_remote_for Line.new, :update => 'line_bin', :position => 'top', :loading => "$('line_phrasing').clear();show_activity_indicator()", :complete => 'hide_activity_indicator()' do |f| %>
	  <%= image_tag 'line_cta.png' %><br>
	  <%= f.text_field :phrasing, :size => '70%x50px' %>
	  <%= image_submit_tag 'dare_to_share.png', :id => 'dare' %>
	<% end %>
</div>
<div class='clearfix'></div>
<%= sort_buttons %>
<%= will_paginate_unless_random @public_lines if @public_lines %>
<div class='clearfix'></div>
<div id="line_bin">
  <%= render :partial => @published_lines if @published_lines %><hr>
  <%= render :partial => @public_lines if @public_lines %><hr>
  <%= render :partial => @shared_lines if @shared_lines %>
</div>
<%= sort_buttons %>
<%= will_paginate_unless_random @public_lines if @public_lines %>
<div class='clearfix'></div>