<h1>some of the greatest things young ladies have yet heard</h1>

<%= render :partial => @published_lines if @published_lines %>
<%= render :partial => @lines if @lines %>
<hr>

<%= render :partial => @public_lines if @public_lines %>

<hr>

<%= render :partial => @shared_lines if @shared_lines %>

<%= link_to 'drop a line', new_line_path %>
<div id='publishable-groups'></div>
<% current_user.andand.cliques.andand.each do |g| %>
  <%= link_to_function g.name, "make_publishable(#{g.id});" %>
<% end %>
<div id='publications'></div>