<%= sort_buttons %>
<div id="line_bin">
  <%= render :partial => @published_lines if @published_lines %>
  <hr>

  <%= render :partial => @public_lines if @public_lines %>

  <hr>

  <%= render :partial => @shared_lines if @shared_lines %>

  <%= will_paginate @public_lines if @public_lines %>
</div>