<div style='text-align:center'>
	<object width="1280" height="745"><param name="movie" value="http://www.youtube.com/v/twEiXXgyYSs&amp;hl=en_US&amp;fs=1?hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/twEiXXgyYSs&amp;hl=en_US&amp;fs=1?hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="720" height="420"></embed></object>
</div>
<div class='clearfix'></div>
<%= link_to image_tag('top_rated.png'), {:sort => 'rating'}, :class => 'sort' %>
<%= link_to image_tag('recent.png'), {:sort => 'recent'}, :class => 'sort' %>
<%= link_to image_tag('randomize.png'), {:sort => 'random'}, :class => 'sort' %>
<div class='clearfix'></div>

<div id="line_bin">
  <%= render :partial => @published_lines if @published_lines %>
  <hr>

  <%= render :partial => @public_lines if @public_lines %>

  <hr>

  <%= render :partial => @shared_lines if @shared_lines %>

  <%= will_paginate @public_lines if @public_lines %>
</div>