<p class='line'>
  <%=h @line.phrasing %>
</p>

<p>
  <%=h @line.context %>
</p>

<p>
  <%= link_to_name @line.user, 'username' %>
</p>

<% if current_user %>
<div class='goal'>
	<%= link_to image_tag('goal.png', :alt => 'set a goal', :class => 'goal'), new_line_goal_path(@line) %>
</div>

	<%= link_to 'edit', edit_line_path(@line) if @line.user == current_user %>

	<%= link_to 'I said that', new_line_approach_path(@line) %>
	<%= publicize_link @line %>

	<% form_remote_for @line.comments.new, :update => 'comments', :position => 'top', :loading => "$('comment_text').clear();" do |f| %>
	  <%= f.text_area :text, :size => '35x4' %>
	  <%= f.hidden_field :line_id, :value => @line.id %>
	  <%= f.submit :comment %>
	<% end %>

<% end %>

<div id='comments'>
  <%= render :partial => @line.comments %>
</div>
<div id='approaches'>
	places this line has been used:<br>
	<%= render :partial => @line.approaches %>
</div>