<p>
  <%=h @line.text %>
</p>

<p>
  <b>the context:</b>
  <%=h @line.context %>
</p>

<p>
  <%= link_to @line.user.andand.username, @line.user %>
</p>

<% form_remote_for @line.comments.new, :update => 'comments', :position => 'top', :loading => "$('comment_text').clear();" do |f| %>
  <%= f.text_area :text, :size => '35x4' %>
  <%= f.hidden_field :line_id, :value => @line.id %>
  <%= f.submit :comment %>
<% end %>

<div id='comments'>
  <%= render :partial => @line.comments %>
</div>
<%= link_to 'celebration', lines_path %>