<p>
  <%=h @line.phrasing %>
</p>

<p>
  <%=h @line.context %>
</p>

<p>
  <%= link_to_name @line.user, 'username' %>
</p>
<%= link_to 'I said that', new_line_approach_path(@line) %>
<%= publicize_link @line %>

<% form_remote_for @line.comments.new, :update => 'comments', :position => 'top', :loading => "$('comment_text').clear();" do |f| %>
  <%= f.text_area :text, :size => '35x4' %>
  <%= f.hidden_field :line_id, :value => @line.id %>
  <%= f.submit :comment %>
<% end %>

<div id='comments'>
  <%= render :partial => @line.comments %>
</div>
<%= link_to 'celebration', lines_path %>