<% if params[:user_id] %>
  <%= "lists by #{User.find(params[:user_id]).username}" %>
<% end %>
<%= link_to image_tag('top_rated.png', :all => 'top rated'), {:sort => 'rating'}, :class => 'sort' %>
<%= link_to image_tag('updated.png', :alt => 'recently updated'), {:sort => 'recent'}, :class => 'sort' %>
<%= link_to image_tag('randomize.png', :alt => 'randomized'), {:sort => 'random'}, :class => 'sort' %>
<div class='clearfix'></div>
<%= render :partial => @lists %>
<%= will_paginate @lists %>
<%= link_to image_tag('make_list.png', :alt => 'make a list'), new_list_path %>