<%= voting_booth @list %>
<h2><%= @list.name %></h2>
<% div_for @list, 'items' do %>
	<% @list.list_items.public_to(current_user).each do |item| %>
	  <%= voting_booth item %>
	  <% if @list.user == current_user %>
		  <%= link_to '+', elevate_list_item_path(item), :method => :put, :title => 'move up' unless item.first? %>
		  <%= link_to '-', lower_list_item_path(item), :method => :put, :title => 'move down' unless item.last? %>
		<% end %>
	  <%= link_to item.item.list_display, item.item %>
	  <% if item.private? %>
			<%= link_to 'o', list_item_path(item, :list_item => {:private => 0}), :method => :put %>
	  <% else %>
			<%= link_to 'p', list_item_path(item, :list_item => {:private => 1}), :method => :put %>
		<% end %>
	  <%= link_to 'x', list_item_path(item), :method => :delete, :title => 'remove' if current_user == @list.user %>
  <% end %>
<% end %>