<p>
  <%= link_to_name @membership.group %>
</p>

<p>
  <%= link_to_name @membership.user, 'username' %>
</p>

<p>
  <b>State:</b>
  <%=h @membership.state %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>