<%= link_to image_tag('top_rated.png'), {:sort => 'rating'}, :class => 'sort' %>
<%= link_to image_tag('randomize.png'), {:sort => 'random'}, :class => 'sort' %>
<div class='clearfix'></div>

"Artist" = conversation coach/blogger
<% @artists.each do |a| %>
  <% div_for a do %>
	  <%= voting_booth a %>
		<%= link_to a.preferred_name, a %>
		<%= add_to_list a %>
		<%= tagger a %>
		<%= tag_display a %>
	<% end %>
<% end %>
<%= will_paginate @artists %>
<%= link_to 'add an artist', new_artist_path %>