<%= @artist.alias %><br>
<%= @artist.name %><br>
<%= @artist.email %>

<% if current_user %>
	<% form_remote_for @artist.comments.new, :update => 'comments', :position => 'top', :loading => "$('comment_text').clear();" do |f| %>
	  <%= f.text_area :text, :size => '35x4' %>
	  <%= f.hidden_field :target_id, :value => @artist.id %>
	  <%= f.hidden_field :target_type, :value => 'Artist' %>
	  <%= image_submit_tag 'weigh_in.png' %>
	<% end %>
<% end %>

<div id='comments'>
	<%= @artist.comments %>
</div>
