<h1>commentary
<%= " on #{@line.phrasing}" if @line %>  
</h1>

<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.text %></td>
    <td><%= link_to truncate(comment.line.phrasing, 30), comment.line unless params[:line_id] || comment.line.nil? %></td>
    <td><%= link_to_name comment.user, 'username' unless comment.user == current_user %></td>
    <td><%= link_to 'permalink', comment %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'comment time', new_comment_path %>