<h1>commentary
<%= " on #{@line.text}" if @line %>  
</h1>

<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.text %></td>
    <td><%= link_to truncate(comment.line.text, 30), comment.line unless params[:line_id] %></td>
    <td><%= link_to comment.user.name, comment.user unless comment.user == current_user %></td>
    <td><%= link_to 'Show', comment %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>