<h1>commentary
<%= " on #{@line.phrasing}" if @line %>  
</h1>

<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.text %></td>
    <td><%= link_to truncate(comment.target.phrasing, 30), comment.target unless params[:line_id] || comment.target.nil? %></td>
    <td><%= link_to_name comment.user, 'username' unless comment.user == current_user %></td>
    <td><%= link_to 'permalink', comment %></td>
		<% if current_user.andand.admin? || (current_user && line.user == current_user) %>
		  <td><%= link_to 'x', comment_path(comment), :method => :delete, :title => 'delete' %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<% if params[:line_id] %>
  <%= link_to 'comment time', new_line_comment_path(params[:line_id])%>
<% else %>
  <%= link_to 'comment time', new_comment_path %>
<% end %>