<h1>your comments ARE appreciated!.</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text , '.'%><br />
    <%= f.text_area :text, :size => '36x3' %>
  </p>
  <p>
    <%= f.label :line_id, 'commenting on a line, or?' %><br />
    <%= f.select :line_id, @lines, :include_blank => 'just post this comment to the main page' %>
  </p>
  <p>
    <%= f.submit 'tweet' %>
  </p>
<% end %>

<%= link_to 'noise', comments_path %>