<p>
  <b>Text:</b>
  <%=h @comment.text %>
</p>

<p>
  <b>Line:</b>
  <%=h @comment.line_id %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>