<p>
  <b>Text:</b>
  <%=h @publication.text %>
</p>

<p>
  <b>Line:</b>
  <%=h @publication.line_id %>
</p>

<p>
  <b>Group:</b>
  <%=h @publication.group_id %>
</p>

<p>
  <b>User:</b>
  <%=h @publication.user_id %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>