<% pagination_and_sorting_for @articles do %>
  <div id="articles">
		<%= render :partial => @articles %>
	</div>
<% end %>
<% form_remote_for Article.new, :update => 'articles', :position => 'bottom', :loading => "$('new_article').reset();show_activity_indicator()", :complete => 'hide_activity_indicator()' do |f| %>
	<%= f.text_field :url %><%= f.label :url %><br>
	<%= f.text_field :title %><%= f.label :title %><br>
	<%= f.text_field :source %><%= f.label :source %><br>
	<%= f.submit %>
<% end %>