<h1>Editing scene</h1>

<% form_for(@scene) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @scene %> |
<%= link_to 'Back', scenes_path %>