<h1>Listing scenes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @scenes.each do |scene| %>
  <tr>
    <td><%=h scene.name %></td>
    <td><%= link_to 'Show', scene %></td>
    <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
    <td><%= link_to 'Destroy', scene, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New scene', new_scene_path %>