<h1>improving group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'group name' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :rules, 'how can people become members?' %><br />
    <%= f.select :rules, Group.rules_select %>
  </p>
  <p>
    <%= f.submit 'up to date' %>
  </p>
<% end %>

<% form_remote_for Membership.new do |f| %>
  <%= text_field_with_auto_complete :user, :username %>
  <%= f.hidden_field :group_id, :value => @group.id %>
  <%= f.submit :add %>
<% end %>

pending memberships (click to approve, the minus to deny)
<br>
<% @group.memberships.pending.each do |m| %>
  [<%= link_to m.user.username, membership_path(m, :membership => {:state => 'approved'}), :method => :put %>
  <%= link_to '-', membership_path(m, :membership => {:state => 'out'}), :method => :put %>]
<% end %>

<%= link_to 'grouping', @group %> |
<%= link_to 'holy mackeral', groups_path %>