<div id="groups">
	<%= render :partial => @groups %>
</div>
<%= will_paginate @groups %>
<% form_remote_for(Group.new, :update => 'groups', :position => 'bottom', :loading => "$('new_group').reset();show_activity_indicator()", :complete => 'hide_activity_indicator()') do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name, :size => 47 %>    <%= f.label :name, 'name' %>
  </p>
  <p>
    <%= f.select :rules, Group.rules_select %>    <%= f.label :rules, 'entry policy' %>
  </p>
  <p>
    <%= image_submit_tag 'save_group.png' %>
  </p>
<% end %>