<h1>artists of a feather flock together</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name, :size => 47 %>    <%= f.label :name, 'name' %>
  </p>
  <p>
    <%= f.select :rules, Group.rules_select %>    <%= f.label :rules, 'entry policy' %>
  </p>
  <p>
    <%= image_submit_tag 'save_group.png' %>
  </p>
<% end %>