<p>
  <h3><%=h @group.name %></h3>
</p>

<div id='my-membership'>
  <% if current_user.andand.is_a_member_of @group %>

  <% elsif @group.rules != 3 %>
    <%= link_to_remote 'join', :url => memberships_path(:membership => {:group_id => @group.id}), :update => 'my-membership' %>
  <% end %>
</div>

<% @group.memberships.each do |m| %>
  <%= m.user.username %><br>
<% end %>

<%= link_to 'improve?', edit_group_path(@group) %> |
<%= link_to 'enclaves', groups_path %>