<h2>
  <%=h @user.username %>
</h2>

<% if @user.avatar.present? %>
  <%= image_tag "/images/avatars/#{@user.avatar}", :class => 'avatar' %>
<% end %><br>
<% if current_user == @user %>
  <%= link_to 'choose avatar', avatar_user_path(@user) %>
<% end %>
<div id='coaching'>
  <% if @user == current_user %>
    <%= link_to 'my students', user_students_path(@user) %>
    <%= link_to 'my coaches', user_coaches_path(@user) %>
  <% else %>
    <%= link_to_remote 'request coaching', :url => guidances_path(:guidance => {:coach_id => @user.id, :student_id => current_user.id, :status => 'requested'}), :update => 'coaching' unless current_user.is_coached_by(@user) %>
  <% end %>
</div>

<%= link_to pluralize(@user.lines.public.count, 'public line'), user_lines_path(@user) %><br>
<%= link_to pluralize(@user.tips.count, 'tip'), user_tips_path(@user) %><br>
<%= link_to pluralize(@user.affirmations.count, 'affirmation'), user_affirmations_path(@user) %><br>
<%= link_to pluralize(@user.nicknames.count, 'nickname'), user_nicknames_path(@user) %><br>
<%= link_to pluralize(@user.lists.count, 'list'), user_lists_path(@user) %><br>
<%= link_to pluralize(@user.ratings.count, 'rating'), user_ratings_path(@user) %><br>
<%= link_to pluralize(@user.goal_ownerships.count, 'goal'), user_goal_ownerships_path(@user) %>