<h2>
  <%=h @user.username %>
</h2>

<div id='coaching'>
  <% if @user == current_user %>
    <%= link_to 'my students', user_students_path(@user) %>
    <%= link_to 'my coaches', user_coaches_path(@user) %>
  <% else %>
    <%= link_to_remote 'request coaching', :url => guidances_path(:guidance => {:coach_id => @user.id, :student_id => current_user.id, :status => 'requested'}), :update => 'coaching' unless current_user.is_coached_by(@user) %>
  <% end %>
</div>

<% @user.lines.public.each do |l| %>
  <%= l.phrasing %>
  <%= link_to 'yeah', l %>
  <%= link_to pluralize(l.comments.count, 'thought'), line_comments_path(l) %>
  <%= time_ago_in_words(l.created_at) %><br>
<% end %>
