
<%= add_quote @video %>
<% if current_user %>
	<% form_remote_for @video.comments.new, :update => 'comments', :position => 'top', :loading => "$('comment_text').clear();" do |f| %>
	  <%= f.text_area :text, :size => '35x4' %>
	  <%= f.hidden_field :target_id, :value => @video.id %>
	  <%= f.hidden_field :target_type, :value => 'Video' %>
	  <%= image_submit_tag 'weigh_in.png' %>
	<% end %>
<% end %>

<div id='comments'>
	<%= render :partial => @video.comments %>
</div>