<% unless (controller_name == 'approaches' && action_name == 'new') || !current_user %>
  <% form_remote_for Line.new, :update => 'line_bin', :position => 'top', :complete => "$('new_line').reset()" do |f| %>
    <%= f.text_field :phrasing, :size => 40 %>&lt--enter line here.
    <%= f.text_field :context, :size => 40 %>
    <%= f.submit :save %>  the second box is for whatever.
  <% end %>
<% end %>
<div id="navigation">
	<%= link_to image_tag('affirmations.png'), affirmations_path %>
  <% unless current_user %>
    <%= link_to image_tag('login.png'), new_user_session_path, :id => 'login' %>
  <% else %>
    <%= link_to current_user.username, user_path(current_user) %> |
    <%= link_to 'lines', lines_path %> |
    <%= link_to 'mine', mine_lines_path %> |
    <%= link_to 'my groups', user_groups_path(current_user) %> |
    <%= link_to 'log out', user_session_path, :method => :delete %>
  <% end %>
	<%= link_to 'about', about_path %>
<br>

<%#= admin_resources %>
</div>