<% unless (controller_name == 'approaches' && action_name == 'new') || !current_user %>
  <% form_remote_for Line.new, :update => 'line_bin', :position => 'top', :loading => "$('new_line').reset()" do |f| %>
    <%= f.text_field :phrasing, :size => 90 %>
    <%= f.submit "drop a line" %>
  <% end %>
<% end %>
<div id="navigation">
	<%= link_to image_tag('videos.png', :alt => 'videos'), videos_path %>
	<%= link_to image_tag('affirmations.png', :alt => 'affirmations', :title => 'to psych up your confidence'), affirmations_path %>
	<%= link_to image_tag('tips.png', :alt => 'tips'), tips_path %>
	<%= link_to image_tag('lines.png', :alt => 'lines'), lines_path %>
  <% unless current_user %>
    <%= link_to image_tag('login.png', :alt => 'log in / register'), new_user_session_path, :id => 'login' %>
  <% else %>
    <%= link_to image_tag('groups.png', :alt => 'groups'), user_groups_path(current_user) %>
		<%= link_to image_tag('goals.png', :alt => 'goals'), goals_path %>
		<%= link_to image_tag('lists.png', :alt => 'lists'), lists_path %>
		<%= link_to image_tag('blogs.png', :alt => 'blogs'), blogs_path %>
    <%= link_to image_tag('logout.png', :alt => 'log out'), user_session_path, :method => :delete, :id => 'login' %>
		<%= link_to current_user.username, current_user, :id => 'profile' %>
  <% end %>
	<%= link_to image_tag('newsletters.png', :alt => 'newsletters'), newsletters_path %>
	<br>
	<%= link_to image_tag('articles.png', :alt => 'articles'), articles_path %>
	<%= link_to image_tag('nicknames.png', :alt => 'nicknames'), nicknames_path %>
	<%= link_to image_tag('questions.png', :alt => 'questions'), questions_path %>
	<%= link_to image_tag('exercises.png', :alt => 'exercises'), exercises_path %>
	<%= link_to image_tag('stories.png', :alt => 'stories'), stories_path %>
	<%= link_to image_tag('books.png', :alt => 'books'), books_path %>
	<%= link_to image_tag('quotes.png', :alt => 'quotes'), quotes_path %>
</div>