<div id='draggable_lists'>
	<div id='list_spacer'></div>
	<% current_user.lists.each do |list| %>
	  <% div_for list, :class => 'borderedbox' do %>
			<%= link_to_function list.name, "Effect.toggle($('#{dom_id(list, 'items')}'), 'slide')", :class => 'list_toggle' %>
			<% div_for list, 'items', :style => 'display:none;' do %>
			  <%= render :partial => 'shared/list_items', :locals => {:list_items => list.list_items, :list => list} %>
			<% end %>
		<% end %>
		<script type='text/javascript'>
		  Droppables.add('<%= dom_id(list) %>', {
				hoverclass: 'this_list',
				overlap: 'vertical',
				snap: [100, 100],
				onDrop: function(dragged, dropped, event) {
					new Ajax.Updater('<%= dom_id(list) %>', 'lists/<%= list.id %>/list_items?list_item[item_type]=' + dragged.className.split(' ')[0].capitalize() + '&list_item[item_id]=' + dragged.id.split('_')[dragged.id.split('_').length - 1], {
						insertion: 'bottom',
						evalScripts: true
					});
				}
		  });
		</script>
	<% end %>
	
	<div class='borderedbox' id='listmaker' style='text-align:center'>
		<% form_remote_for List.new, :update => 'listmaker', :position => :before, :loading => "$('new_list').reset();" do |f| %>
			<%= f.text_field :name %>
			<%= f.submit 'new list' %>
		<% end %>
	</div>
</div>
<input type='range' id='list_spacer_control', onchange="adjust_list_spacing(this.value);" value='0'>
<%#= sortable_element 'draggable_lists', :tag => :div, :url => sort_lists_path %>