<% form_remote_for @invitation, :update => 'saved', :loading => "$$('.invited').each(function(name) { name.clear(); });" do |f| %>
	<%= text_field_tag 'invitation[email][]', nil, :class => 'invited' %><%= f.label :email, 'best friend' %><br>
	<%= text_field_tag 'invitation[email][]', nil, :class => 'invited' %><%= f.label :email, 'other friends' %><br>
	<%= text_field_tag 'invitation[email][]', nil, :class => 'invited' %><br>
	<%= text_field_tag 'invitation[email][]', nil, :class => 'invited' %><br>
	<%= text_field_tag 'invitation[email][]', nil, :class => 'invited' %><br>
	<%= f.text_area :message, :size => '49x6' %><%= f.label :message, 'your personal message' %><br>
	<%= f.submit :invite %>
<% end %>
<div id='saved'></div>