<div class='affirmation_explanation'>
	<%= image_tag('affirmations_explanation.png')%>
</div>
<%= link_to image_tag('randomize.png'), {:sort => 'random'}, :class => 'sort' %>
<%= link_to image_tag('recent.png'), {:sort => 'recent'}, :class => 'sort' %>
<div class='clearfix'></div>
<div id='affirmations'>
	<%= render :partial => @affirmations %>
</div>
<% if current_user %>
	<% form_remote_for Affirmation.new, :update => 'affirmations', :position => 'bottom', :loading => "$('affirmation_phrase').clear();$('affirmation_submit').writeAttribute('src', '/images/#{affirmation_submit}')" do |f| %>
	  <%= f.text_area :phrase, :size => '49x4' %>
	  <%= image_submit_tag affirmation_submit, :id => 'affirmation_submit' %>
	<% end %>
<% end %>
<%= will_paginate @affirmations %>