<%= link_to image_tag('top_rated.png'), {:sort => 'rating'}, :class => 'sort' %>
<%= link_to image_tag('randomize.png'), {:sort => 'random'}, :class => 'sort' %>
<div class='clearfix'></div>

<% @companies.each do |c| %>
	<% div_for c do %>
		<%= voting_booth c %>
		<%= link_to c.name, c %>
		<%= add_to_list c %>
		<%= tagger c %>
		<%= tag_display c %>
	<% end %>
<% end %>
<%= will_paginate @companies %>
<%= link_to 'new company', new_company_path %>