<% pagination_and_sorting_for @companies do %>
  <div id='companies'>
		<%= render :partial => @companies %>
	</div>
<% end %>
<% form_remote_for Company.new, :update => 'companies', :position => 'bottom', :loading => "$('new_company').reset();show_activity_indicator()", :complete => 'hide_activity_indicator()' do |f| %>
	<%= f.text_field :name %><%= f.label :name %><br>
	<%= f.text_field :url %><%= f.label :url %><br>
	<%= f.submit 'add company' %>
<% end %>