<div id="bar_promotion">
	<h1>Bar Promotion</h1>
	<p class='borderedbox'>Your bar, club, or lounge can seize the excitement of the Talk To Her app!  When you run this promotion, at no cost to you, your customers will have a stimulating experience that they will associate with your business.  Even though most people still won't have the courage to approach other men and women in the bar, talking about pickup lines and dating tips is always a controversial subject and everyone likes sharing their opinion.  And, since you're mixing the app with alcohol, some of the customers will decide to flirt, and you'll have the strong drink sales that go along with a singles event!</p><hr>
	<p class='borderedbox'>To run the promotion, offer your patrons $3 off a drink if they install the app.  They can only do it (at most) once each.  This way they'll think they're getting the $2.99 app for free.  You are allowed to say that they're getting the app for free.</p><hr>
	<p class='borderedbox'>If you want my help promoting the event, contact me at <%= mail_to 'schwabsauce@lineoftheday.com', 'schwabsauce@lineoftheday.com', :encrypt => :javascript %>.  You have my permission to run the event whether or not we are in contact.</p><hr>
	<p class='borderedbox'>If the event does indeed create an exciting, flirty atmosphere, girls may want to come back to that atmosphere, and if that notion gets out there then the guys will sure come back.  Therefore you may want to make this a regular promotion.  Keep in mind that the app will continue to add new features, including ones that may give your bar a lot of free publicity a la <%= link_to 'foursquare', 'http://foursquare.com' %>.  If your patrons have the app, and especially if some of them associate it with you, they will then use the app to send messages around the world about your bar.  Do you want your bar to be known as a pickup spot?  I think you know the answer!</p><hr>
	
</div>
<div id="venue_promotion">
	<h1>Venue Promotion</h1>
	<p class='borderedbox'>Offer your patrons $3 off their ticket if they have the app installed.  Why do you want concert-goers to have this app?  I am so glad you asked.</p><hr>
	<p class='borderedbox'>People who like the same music like a lot of the same things.  It is almost uncanny - and meeting like-minded young adults is always one of the most enjoyable experiences.  These people will remember what a good time they had <i>at your venue</i> and they will grace you with their presence for years to come.</p><hr>
	<p class='borderedbox'>Concerts are one of the top leisure activities for young adults, but most concert-goers don't try hard enough to make new friends while they are there.  Make your venue the one to buck this trend!  The more they talk to each other, the drier their mouths will get, and the more drinks you can sell.</p><hr>
	<p class='borderedbox'>Another draw for this event is that there will be more iPhones there.  Apple is a company popular among musicians, with a somewhat fanatical following.  The iPhone is controversial but like most Apple products, there is a high degree of "you understand it if you have it" feelings among its owners.  It's a bit pretentious, but they will be excited to know that the concert will be full of iPhone lovers, and if they really want to show off a cool trick with their phone, no one will say "but Android is better" or "hey look at my Blackberry".</p>
</div>
<div id="press_kit">
	<%= link_to 'Download PDF', '/talk to her flier.pdf' %><br>
	<%= link_to image_tag('talk to her flier.jpg', :width => 500), '/talk to her flier.pdf' %><br>
	<%= link_to 'Download PDF', '/talk to her flier.pdf' %><br>
	⌘P to print<br>
	<div class="instructions">
  	Hang it on your building's bulletin board, and at your local bars, cafes and supermarkets.  It will be fun!<hr>
    You can tell the clerks and business owners that a future version of the app will let users promote locations, a la <%= link_to 'foursquare', 'http://foursquare.com' %>.<br>
    Planned features include both spontaneous mentions (check-in style) and future plans (e-vite style).<br>
    If their customers start using the app now, their businesses will be the first to benefit from this free publicity.  Also, their patrons will be chattier and flirtier!<hr>
    If they don't agree to display it prominently behind the bar, just surreptitiously hang it in the men's room ;)<hr>
    If you have an iPhone, iPod Touch, or iPad, <%= link_to 'install the app', 'http://itunes.apple.com/us/app/talktoher/id384896043' %> so you can show them a demo.  If your phone can play YouTube videos, <%= link_to "here's one you can show them", 'http://www.youtube.com/watch?v=44bTbEKATBc' %>.<hr>
    Lastly, <%= link_to 'here is the pitch.', :controller => 'talktoher', :action => :index %>
  </div>
  <hr>
	<%= link_to 'Download PDF', '/talk to her small flier.pdf' %><br>
	<%= link_to image_tag('talk to her small flier.jpg', :width => 500), '/talk to her small flier.pdf' %><br>
	<%= link_to 'Download PDF', '/talk to her small flier.pdf' %><br>
	<div class="instructions">
		This one is for fliers you can hand out or stack on a counter.  Or, what the heck, hang it up on the walls or on the inside of stalls.
	</div>
	<hr>
	<%= link_to 'Download PDF', '/talk to her flier narrow.pdf' %><br>
	<%= link_to image_tag('talk to her flier narrow.jpg', :width => 500), '/talk to her flier narrow.pdf' %><br>
	<%= link_to 'Download PDF', '/talk to her flier narrow.pdf' %><br>
	<div class="instructions">
	  In case your printer can't handle the first poster, this one has bigger margins.<hr>
	  To inquire about interviewing me or reviewing the app, you can contact <%= mail_to 'schwabsauce@lineoftheday.com', 'schwabsauce@lineoftheday.com', :encrypt => :javascript %>.  Also feel free to send general comments and questions.
	</div>
</div>