<head>
	<title>
		my evolved feminism in three parts
	</title>
</head>
<div style="text-align:center;">
	<%= link_to 'my youtube channel', 'http://youtube.com/schwabsauce' %>
	<br>
	<object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/YdEdpsOxYJ8?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/YdEdpsOxYJ8?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>
<br>
<%= link_to 'my iPhone app', 'http://itunes.apple.com/us/app/talktoher/id384896043' %>
<br>
	<object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/44bTbEKATBc?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/44bTbEKATBc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>
<br>
<%= link_to 'my web site', 'http://lineoftheday.com' %>
<br>
	<object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/KUzOpHY7S3Q?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/KUzOpHY7S3Q?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" 
allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>
<br>

I've been working on this stuff for a while, but I haven't introduced it to the world yet.
<br><br>
I decided to throw together a simplistic intro today.  Please buy the app to support development of some awesome features.
<br><br>
Thank you very much for your time.<br>
-Mike

<br><br><br>
<%= link_to 'f', 'http://www.facebook.com/pages/TalkToHer/139372379436714' %>
<%= link_to 'f', 'http://www.facebook.com/pages/schwabsauce/68666678557' %>
<%= link_to 't', 'http://twitter.com/schwabsauce' %>
<%= link_to 'b', 'http://wordsamong.blogspot.com' %>
<%= mail_to 'mike.schwab@gmail.com', 'g', :encrypt => :javascript %>
<%= link_to 'lotd', 'http://lineoftheday.com' %>

</div>
