<h1 class='concept'><%= @concept.name %></h1>
<% @concept.applied_tags.map(&:target).each do |s| %>
  <% div_for s, :class => 'borderedbox' do %>
		<%= link_to s.name, s %> <%= add_to_list s %> <%= tagger s %> <%= tag_display s %>
	<% end %>
<% end %>