<h1>victories</h1>

<table>
<% @approaches.each do |approach| %>
  <tr>
    <td><%=h approach.context %></td>
    <td><%= link_to truncate(approach.line, 110), approach.line if approach.line %></td>
    <td><%= link_to_name approach.scene %></td>
    <td><%=h approach.hotness %></td>
    <td><%= link_to_name approach.result %></td>
    <td><%= link_to 'investigate', approach %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'did one', new_approach_path %>