<h1>good. work!</h1>
<%# @approach.save %>
<% form_for(@approach) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :context, 'etc' %><br />
    <%= f.text_area :context, :size => '30x5' %>
  </p>
  <p>
    <%= f.label :line_id, 'the line' %><br />
    <%= text_field_with_auto_complete :line, :magic %>
  </p>
  <p>
    <%= f.label :scene_id, 'the scene' %><br />
    <%= text_field_with_auto_complete :scene, :name %>
  </p>
  <p>
    <%= f.label :hotness, 'hotness' %><br />
    <%= slider_stylesheet %>
    <%= slider_field :approach, :hotness, :range => 1..100 %>
  </p>
  <p>
    <%= f.label :result_id, 'the result' %><br />
    <%= text_field_with_auto_complete :result, :name %>
  </p>
  <p>
    <%= f.submit 'save' %>
  </p>
<% end %>