<% div_for post, :class => 'borderedbox' do %>
  <%= voting_booth post %>
  <h2><%= link_to '.', post, :title => 'permalink' %> <%= link_to_function post.name, "$('#{dom_id(post, 'content')}').toggle();" %></h2>
  <h3><%= link_to post.blog.name, post.blog %>, <%= post.posted_at.to_s(:short) %></h3>
  <%= link_to_comment_section_for post %>
  <%= tag_display post %>
	<%= tagger post %>
	<% div_for post, 'content', :style => 'display:none' do %>
	  <%= link_to 'view post on original site', post.url %><br>
	  <%= post.content %>
	  <div class='clearfix'></div>
	  <%= voting_booth post %>
	  <% if current_user %>
		  <em class='average_rating'>rate the above post, <%= post.name %>:</em>
	  <% end %>
	  <div class='clearfix'></div>
	<% end %>
	<% div_for(post, 'tags', :style => 'display:none') {} %>
	<%= comment_section_for post %>
<% end %>
<%= draggable_and_droppable_for post %>