<div id='big_goals'>
	<%= link_to image_tag('goal_affirmations.png', :alt => 'set a goal to say x affirmations', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Affirmation'}) %>
	<%= link_to image_tag('goal_scenes.png', :alt => 'set a goal to approach in x locations', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Scene'}) %>
	<%= link_to image_tag('goal_approaches.png', :alt => 'set a goal to do x approaches', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Approach'}) %>
	<%= link_to image_tag('goal_lines.png', :alt => 'set a goal to write x lines', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Line'}) %>
</div>
<div class='clearfix'></div>
<%= link_to 'my goals', user_goal_ownerships_path(current_user) %>
<%= render :partial => @goals %>