<div id='big_goals'>
	<%= link_to image_tag('goal_affirmations.png', :alt => 'set a goal to say x affirmations', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Affirmation'}) %>
	<%= link_to image_tag('goal_scenes.png', :alt => 'set a goal to approach in x locations', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Scene'}) %>
	<%= link_to image_tag('goal_approaches.png', :alt => 'set a goal to do x approaches', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Approach'}) %>
	<%= link_to image_tag('goal_lines.png', :alt => 'set a goal to write x lines', :class => 'goal'), new_goal_path(:goal => {:objective_type => 'Line'}) %>
</div>
<div class='clearfix'></div>
<%= link_to 'my goals', user_goal_ownerships_path(current_user) %>
<% @goals.each do |g| %>
  <% div_for g do %>
	  <%= link_to g.full_description, g %>
	  <% if current_user.goals.include? g %>
	    You are doing this.
	  <% else %>
		  <%= link_to 'I will do this.', goal_ownerships_path(:goal_ownership => {:goal_id => g.id}), :method => :post, :class => 'commit' %>
		<% end %>
	  <%= g.goal_ownerships.count %> <%= g.goal_ownerships.count == 1 ? 'has' : 'have' %> done it.
	  <%= add_to_list g %>
	  <%= tagger g %>
	  <%= tag_display g %>
	<% end %>
<% end %>