<%= link_to image_tag('top_rated.png'), {:sort => 'rating'}, :class => 'sort' %>
<%= link_to image_tag('randomize.png'), {:sort => 'random'}, :class => 'sort' %>
<div class='clearfix'></div>

<% @products.each do |p| %>
  <% div_for p do %>
	  <%= voting_booth p %>
		<%= link_to p.name, p %>
		<%= add_to_list p %>
		<%= tagger p %>
		<%= tag_display p %>
	<% end %>
<% end %>
<%= will_paginate @products %>
<%= link_to 'new product', new_product_path %>