<h2><%= @product.name %></h2>
<%= link_to @product.company.name, @product.company if @product.company %><br>
<%= link_to 'view on site', @product.url if @product.url.present? %><br>
<%= @product.description %><br>
<%= @product.price %><br>
<%= add_quote @product %>

<% if current_user %>
	<% form_remote_for @product.comments.new, :update => 'comments', :position => 'top', :loading => "$('comment_text').clear();" do |f| %>
	  <%= f.text_area :text, :size => '35x4' %>
	  <%= f.hidden_field :target_id, :value => @product.id %>
	  <%= f.hidden_field :target_type, :value => 'Product' %>
	  <%= image_submit_tag 'weigh_in.png' %>
	<% end %>
<% end %>


<div id='comments'>
	<%= render :partial => @product.comments %>
</div>