<div id='exercises'>
	<%= render :partial => @exercises %>
</div>
<%= will_paginate @exercises %>
<% if current_user %>
	<% form_remote_for Exercise.new, :update => 'exercises', :position => 'bottom', :loading => "$('new_exercise').reset()" do |f| %>
	  <div style='float:left'>
			<%= f.text_field :name, :size => '68' %><br>
			<%= f.text_area :instruction, :size => '49x2' %>
		</div>
		<div style='float:left'>
			<%= image_submit_tag 'prescribe.png' %>
		</div>
		<div class='clearfix'></div>
	<% end %>
<% end %>