<%= link_to image_tag('recent.png'), {:sort => 'recent'}, :class => 'sort' %>
<%= link_to image_tag('top_rated.png'), {:sort => 'rating'}, :class => 'sort' %>
<%= link_to image_tag('randomize.png'), {:sort => 'random'}, :class => 'sort' %>
<div class='clearfix'></div>
<div id='tips'>
	<% @tips.each do |t| %>
	  <% div_for t do %>
			<%= voting_booth t %>
			<%= link_to t.advice, t %>
			<%= add_to_list t %>
			<%= link_to t.comments.count, t %>
			<%= tagger t %>
			<%= tag_display t %>
		<% end %>
	<% end %>
</div>
<% form_remote_for Tip.new, :update => 'tips', :position => 'bottom', :loading => "$('tip_advice').clear();$('tip_submit').writeAttribute('src', '/images/#{tip_submit}')" do |f| %>
  <%= f.text_area :advice, :size => '49x4' %>
  <%= image_submit_tag tip_submit, :id => 'tip_submit' %>
<% end %>
<%= will_paginate @tips %>