<div id='tips'>
	<% @tips.each do |t| %>
	  <% div_for t do %>
			<%= voting_booth t if current_user %>
			<span class='average_rating'><%= sprintf "%0.02f", t.average_rating %></span>
			<%= link_to t.advice, t %>
		<% end %>
	<% end %>
</div>
<% form_remote_for Tip.new, :update => 'tips', :position => 'bottom', :loading => "$('tip_advice').clear();$('tip_submit').writeAttribute('src', '/images/#{tip_submit}')" do |f| %>
  <%= f.text_area :advice, :size => '49x4' %>
  <%= image_submit_tag tip_submit, :id => 'tip_submit' %>
<% end %>
<%= will_paginate @tips %>