<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>the minimum is one a day......done yours yet?</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= google_analytics %>
</head>
<body>
<%= link_to image_tag('logo.png', :id => 'logo'), lines_path %>
<%= render :partial => 'shared/lines_and_links', :locals => {:current_user => current_user} unless action_name == 'random' %>
<p style="color: green"><%= flash[:notice] %></p>
<div id="big_box">
<%= yield %>
</div>
<div style="text-align:center" id='footer'>
	<%= link_to 'random line', random_lines_path %>
	<%= link_to 'terms', terms_path %>
	<%= link_to 'faq', faq_path %>
	<%= mail_to 'info@lineoftheday.com', 'contact', :encode => 'javascript' %>
</div>
</body>
</html>
