<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>the minimum is one a day...have you said yours yet?</title>
  <%= stylesheet_link_tag 'scaffold', 'lines' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<%= image_tag 'logo.png' %>
<%= render :partial => 'shared/lines_and_links', :locals => {:current_user => current_user} %>
<p style="color: green"><%= flash[:notice] %></p>
<div id="big_box">
<%= yield %>
</div>
</body>
</html>
